/* ===================== global settings ============== */
:root {
  /* ------------ background-colors -------------------*/
  --bcg-main: #feedd5;
  --bcg-first-accent: #fff8ee;
  --bcg-second-accent: #e1f1ff;
  --bcg-header: #8cc9ff;

  /*------------------ buttons ------------------------*/
  --button-accent: #0f3984;
  --button-general: #e1f1ff;

  /*-------------------- text-colors ------------------*/
  --main-text: #001b4a;
  --accent-text: #fff8ee;
  --link-text: #e49125;
  --visited-link: #4b71b5;

  /*------------------- animation settings --------------*/
  --animation-action: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Overpass', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: calc(30 / 22);
  letter-spacing: -0.015em;
  color: var(--main-text);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  display: block;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
.address {
  font-style: normal;
}
.container {
  width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.section-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 0.95;
}
/*============== end of global settings ==================*/

/*===================== header =============================*/
.header {
  background-color: var(--bcg-header);
}
.nav-thumb {
  display: flex;
  align-items: center;
}
.logo-link {
  display: block;
  padding-bottom: 12px;
}
.logo-img {
  display: block;
  width: 150px;
  height: 50px;
}
.navigation-list {
  display: flex;
  gap: 30px;

  margin-left: 35px;
}
.navigation-list-item {
  position: relative;
  overflow: hidden;
}
.nav-link {
  position: relative;
  transform: translateY(0);

  display: inline-block;
  padding: 26px 0;

  font-weight: 500;
  line-height: 1.3;

  transition: color var(--animation-action) 250ms, transform var(--animation-action);
}
.nav-link::before {
  position: absolute;
  top: 0;
  right: 0;

  transform: translateX(-110%) translateY(10px);

  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text);
}
@keyframes headerLinkAnimation {
  0% {
    transform: translateX(-110%) translateY(10px);
  }
  50% {
    transform: translateX(0) translateY(10px);
  }
  100% {
    transform: translateX(0) translateY(50px);
  }
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text);
  transform: translateY(-10px);
}
.nav-link:hover:before,
.nav-link:focus:before {
  animation-name: headerLinkAnimation;
  animation-duration: 500ms;
}

.header-btn-list {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-left: auto;
}
.header-btn {
  min-width: 150px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: var(--button-general);

  font-weight: 500;
  text-align: center;
  letter-spacing: -0.015em;

  transition: color var(--animation-action), background-color var(--animation-action);
}
.header-btn:hover,
.header-btn:focus {
  background-color: var(--button-accent);
  color: var(--accent-text);
}
/*===================== header end =============================*/

/*========================= footer ============================== */
.footer {
  background-color: var(--bcg-header);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 74px 0 45px;
}
.footer-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 32px;
  line-height: 0.75;
}
.address-item:nth-child(1),
.address-item:nth-child(2) {
  margin-bottom: 20px;
}
.copyright {
  margin-top: 30px;

  font-size: 16px;
  line-height: 1.7;
}
.footer-social-thumb {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1;
  letter-spacing: -0.015em;
  text-align: right;
}
.social-list {
  display: flex;
  gap: 12px;
}
.footer-link-icon {
  width: 44px;
  height: 44px;

  fill: currentColor;
  transition: color var(--animation-action);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  fill: var(--accent-text);
}
/*========================= footer end============================ */

/*========================= main ============================== */

/*-------------------------- hero section ----------------------*/
.hero {
  background-color: var(--bcg-first-accent);
}
.hero-bg {
  width: 1480px;
  height: 668px;
  margin: 0 auto;

  background-image: linear-gradient(
      180deg,
      rgba(254, 235, 208, 0.6) 0%,
      rgba(254, 235, 208, 0) 100%
    ),
    url(../pictures/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-container {
  padding-top: 60px;
  padding-bottom: 300px;

  text-align: center;
}
.uppertitle {
  margin-bottom: 16px;

  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -1px;
}
.hero-title {
  margin-bottom: 16px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.4;
  letter-spacing: -1.5px;
}
.subtitle {
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -1px;
}

/*------------------- about section --------------------------------*/
.about-event {
  background-color: var(--bcg-main);
}
.about-container {
  display: flex;
  gap: 80px;
}
.video-placeholder {
  width: 620px;
}
.about-left {
  padding-top: 90px;
  padding-bottom: 90px;
}
.about-right {
  padding-top: 95px;
  padding-bottom: 100px;
}
.about-event-title {
  margin-bottom: 24px;
}
.about-event-text {
  margin-bottom: 24px;
}
.about-btn-list {
  display: flex;
  gap: 55px;
}
.about-btn {
  min-width: 230px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--button-general);

  font-weight: 500;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;

  transition: color var(--animation-action), background-color var(--animation-action);
}
.about-btn:hover,
.about-btn:focus {
  background-color: var(--button-accent);
  color: var(--accent-text);
}

/*---------------------- organizers section ------------------*/
.organized {
  background-color: var(--bcg-first-accent);
}
.organized-container {
  display: flex;
  gap: 82px;
}
.organized-left {
  width: 50%;
  padding-top: 220px;
  padding-bottom: 220px;
}
.organized-title {
  margin-bottom: 26px;
}
.organized-right {
  width: 50%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.organized-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.organized-item {
  position: relative;
}
.organized-link {
  position: relative;

  display: flex;
  align-items: center;

  width: 250px;
  height: 250px;

  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;

  transform: scale(1);
  transition: transform var(--animation-action);
}
.nuft-link {
  background-image: url(../pictures/partners/nuft.png);
}
.india-link {
  background-image: url(../pictures/partners/india.png);
}
.azerbaijan-link {
  background-image: url(../pictures/partners/azerbaijan.png);
}
.organized-link-text {
  display: inline-block;
  text-align: center;
}
.organized-link-thumb {
  position: absolute;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(254, 237, 213, 0.8);
  backdrop-filter: blur(0);

  transition: background-color var(--animation-action), backdrop-filter var(--animation-action);
}
.organized-link:hover .organized-link-thumb,
.organized-link:focus .organized-link-thumb {
  background-color: rgba(225, 241, 255, 0.8);
  backdrop-filter: blur(2px);

  transform: scale(1.2);
}

/*-------------------- audience section -----------------------------------*/
.join {
  background-color: var(--bcg-main);
}
.audience-container {
  padding-top: 44px;
  padding-bottom: 44px;
  text-align: center;
}
.join-title {
  margin-bottom: 30px;
}
.join-text {
  margin-bottom: 30px;
}
.audience-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  padding: 0 45px;
}
.audience-item {
  width: calc(100% / 3 - 50px);

  transform: scale(1);
  transition: transform var(--animation-action);
}
.audience-item:hover {
  transform: scale(1.2);
}
.audience-icon {
  width: 58px;
  height: 58px;

  margin-bottom: 15px;
}
.audience-title {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 21px;
  line-height: 0.95;
  letter-spacing: 1.083px;
  text-transform: uppercase;
}
.audience-text {
  font-size: 18px;
  line-height: 1.55;
}

/*---------------------- deadlines section ---------------------------------*/
.deadlines {
  background-color: var(--bcg-second-accent);
  padding: 50px 0;

  text-align: center;
}
.deadlines-title {
  margin-bottom: 30px;
}
.deadlines-list {
  display: flex;
  gap: 40px;
}
.deadlines-item {
  width: 280px;
  height: 280px;
  background-color: var(--bcg-first-accent);

  padding: 40px 20px 20px;
}
.deadlines-icon {
  width: 82px;
  height: 82px;

  margin-bottom: 15px;
}
.deadlines-dates {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 21px;
  line-height: 0.95;
  letter-spacing: 1.083px;
  text-transform: uppercase;
}

/*---------------------- information section ---------------------------------*/
.information {
  background-color: var(--bcg-main);
  padding: 50px 0;
}
.information-title {
  margin-bottom: 30px;
  text-align: center;
}
.info-thumb {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.information-list-thumb {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 530px;
}
.info-item {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 30px;
}
.info-subtitle {
  display: block;
  margin-bottom: 30px;

  font-weight: 700;
}
.info-text {
  display: block;
  width: 200px;
}
.archives-link {
  display: block;
  width: 200px;
  color: var(--link-text);

  transition: color var(--animation-action);
}
.archives-link:hover,
.archives-link:focus {
  color: var(--visited-link);
}
.thematic-areas-thumb {
  display: flex;
  align-items: baseline;
  width: 720px;
}
.areas-subtitle {
  margin-right: 30px;

  font-weight: 700;
}
.areas-item {
  width: 500px;
}
.areas-item:not(:last-child) {
  margin-bottom: 10px;
}
/*===================== main end =============================*/
