.about-event {
  @extend %section;
  background-color: map-get($bgcolor, 'main');
}

.about-container {
  @extend %container;

  @include media(min, desktop) {
    @include flex-l(80px);
  }
}

.about-left {
  @include media(min, desktop) {
    flex-basis: calc((100% - 80px) / 2);
  }
}

.video-placeholder {
  @extend %centred;
  margin-bottom: 30px;

  @include media(max, tablet) {
    max-width: 450px;
  }

  @include media(min, tablet) {
    width: 100%;
    margin-bottom: 0;
  }
}

.about-right {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include flex-l(30px);
  }

  @include media(min, desktop) {
    flex-basis: calc((100% - 80px) / 2);
  }
}

.about-title {
  @extend %section-title;
  margin-bottom: 10px;

  @include media(min, desktop) {
    margin-bottom: 15px;
  }
}

.about-text {
  margin-bottom: 15px;

  @include media(min, desktop) {
    margin-bottom: 15px;
    @include font-size(22px, 26px);
    letter-spacing: -0.015em;
  }
}

.about-btn {
  @extend %list;
  @include flex-l(30px, flex-start, center);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include flex-l(15px, flex-start, center);
    flex-direction: column;
  }
  //   display: flex;
  //   gap: 55px;
}

.about-link {
  @extend %link;
  display: inline-block;
  min-width: 100px;
  padding: 11px;
  background-color: map-get($txtcolor, 'main');
  border: 1px solid map-get($txtcolor, 'main');
  border-radius: 6px;

  @include font-size(16px, 20px);
  text-align: center;
  color: map-get($txtcolor, 'accent');

  @include animation-m(background-color, color);

  &:hover,
  &:focus {
    background-color: map-get($bgcolor, 'second-accent');
    color: map-get($txtcolor, 'main');
  }

  @include media(min, phone) {
    min-width: 150px;
  }

  @include media(min, desktop) {
    min-width: 230px;
    @include font-size(26px, 33px);
  }
}

// .about-left {
//   padding-top: 90px;
//   padding-bottom: 90px;
// }
// .about-right {
//   padding-top: 95px;
//   padding-bottom: 100px;
// }

// .about-btn {
//   display: inline-block;
//   min-width: 230px;
//   padding-top: 16px;
//   padding-bottom: 16px;
//   border-radius: 6px;
//   background-color: var(--button-general);

//   font-weight: 500;
//   font-size: 26px;
//   line-height: 1.3;
//   text-align: center;

//   transition: color var(--animation-action), background-color var(--animation-action);
// }
// .about-btn:hover,
// .about-btn:focus {
//   background-color: var(--button-accent);
//   color: var(--accent-text);
// }
