.footer {
  position: relative;
  background-color: map-get($bgcolor, 'header');
  padding-top: 60px;
  padding-bottom: 45px;

  &::before {
    position: absolute;
    top: 30px;
    left: 0;

    @include pseudo(100%, 1px);
    display: block;
    background-color: map-get($txtcolor, 'main');
  }
}

.footer-container {
  @extend %container;
}

.footer-flex-thumb {
  @include media(min, tablet) {
    @include flex-l(60px, flex-start, baseline);
  }

  @include media(min, desktop) {
    @include flex-m(space-between, baseline);
  }
}

.footer-title {
  margin-bottom: 15px;
  font-weight: 700;
  @include font-size(22px, 24px);

  @include media(min, desktop) {
    margin-bottom: 30px;
    @include font-size(32px, 24px);
  }
}

.address {
  @extend %address;
}

.address-list {
  @extend %list;
  margin-bottom: 30px;

  @include media(min, tablet) {
    margin-bottom: 60px;
  }
}

.address-item {
  position: relative;

  &:first-child {
    margin-bottom: 10px;

    @include media(min, desktop) {
      margin-bottom: 20px;
    }
  }
}

.address-link {
  @extend %link;
  @include font-size(14px, 18px);
  letter-spacing: 0.03em;

  @include media(min, desktop) {
    display: inline-block;
    position: relative;
    overflow: hidden;
    @include font-size(22px, 30px);
    @include link-animation(27px);
    transform: translateY(0);
    color: map-get($txtcolor, 'main');
    transition: transform $animation, color $animation 250ms;

    &:hover,
    &:focus {
      transform: translateY(-10px);
      color: map-get($txtcolor, 'accent');
    }
  }
}

.footer-social-thumb {
  @include media(min, tablet) {
    @include flex-l(15px, flex-start, center);
  }
}

.social-title {
  font-weight: 400;
  @include font-size(18px, 24px);
  text-align: center;

  @include media(min, desktop) {
    font-weight: 700;
    @include font-size(22px, 24px);
  }
}

.social-list {
  @extend %list;
  @include flex-l(10px);
  margin-bottom: 45px;

  @include media(min, tablet) {
    margin-bottom: 0;
  }
}

.footer-link {
  @extend %link;
  display: inline-block;
  @include socials;
}

.footer-link-icon {
  width: 44px;
  height: 44px;
  transform: scale(1);
  @include animation-s(transform);

  .footer-link:hover &,
  .footer-link:focus & {
    transform: scale(1.2);
  }
}

.copyright {
  @include font-size(12px, 18px);

  @include media(min, desktop) {
    @include font-size(14px, 24px);
  }
}

/* ============== scroll up ================*/
.up {
  @include position(fixed, bottom, 5vh, right, 5vw);
  z-index: 5;
  @include flex-m;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: map-get($bgcolor, 'accent');
  opacity: 0.2;
  transition: opacity $animation;

  &:hover,
  &:focus {
    opacity: 1;
  }

  @include media(min, tablet) {
    width: 55px;
    height: 55px;
  }

  @include media(min, desktop) {
    width: 70px;
    height: 70px;
  }
}

.up-icon {
  width: 32px;
  height: 32px;
  transform: rotate(270deg);
  // color: var(--text-white);
  // fill: var(--text-white);

  @include media(min, desktop) {
    width: 50px;
    height: 50px;
  }
}
