.header {
  background-color: map-get($bgcolor, 'header');
}

.header-container {
  @extend %container;
}

.nav-thumb {
  @include media(max, tablet) {
    @include flex-m(space-between, center);
  }

  @include media(min, tablet) {
    @include flex-m;
  }
}

.logo-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  @include media(min, tablet) {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 56px;
  }

  @include media(min, desktop) {
    padding-top: 12px;
    padding-bottom: 18px;
  }
}

.logo-img {
  display: block;
  width: 115px;
  height: 38px;

  @include media(min, tablet) {
    width: 99px;
    height: 36px;
  }

  @include media(min, desktop) {
    width: 150px;
    height: 50px;
  }
}

.menu-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: map-get($txtcolor, 'main');
  @include animation-s(color);

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'accent');
  }

  &--open {
    display: block;

    .menu.is-open & {
      display: none;
    }
  }

  &--close {
    display: none;

    .menu.is-open & {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  @include media(min, tablet) {
    display: none;
  }
}

.menu-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.mobile-thumb {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include media(max, tablet) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding: 45px;
    transform: translateX(100%);
    @include animation-s(transform);
    background-color: map-get($bgcolor, 'header');
  }

  .menu.is-open & {
    transform: translateX(0);
  }

  @include media(min, tablet) {
    @include flex-m(baseline, center);
    flex-direction: row;
  }
}

.navigation-list {
  @extend %list;

  @include media(min, tablet) {
    @include flex-l(15px);
    padding-top: 30px;
    padding-bottom: 15px;
  }

  @include media(min, desktop) {
    @include flex-l(30px);
    // padding-top: 21px;
    // padding-bottom: 21px;
  }
}

.navigation-list-item {
  @include media(max, tablet) {
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &--hidden {
    @include media(max, desktop) {
      display: none;
    }
  }
}

.nav-link {
  @extend %link;
  position: relative;
  overflow: hidden;

  transition: color $animation 250ms;

  font-weight: 500;
  @include font-size(32px, 41px);

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'accent');
  }

  @include media(max, tablet) {
    @include link-animation(30px);
  }

  @include media(min, tablet) {
    display: inline-block;
    @include font-size(18px, 23px);
    padding-top: 5px;
    padding-bottom: 5px;
    @include link-animation(25px);
  }

  @include media(min, desktop) {
    @include font-size(22px, 28px);

    @include link-animation(30px);
    transform: translateY(0);
    transition: transform $animation, color $animation 250ms;

    &:hover,
    &:focus {
      transform: translateY(-10px);
    }
  }
}

.language {
  @extend %list;
  overflow: hidden;
  margin-bottom: 10px;

  @include media(min, tablet) {
    display: inline-flex;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-left: 56px;
  }
}

.language-item {
  display: inline-block;

  @include media(min, tablet) {
    &:first-child {
      padding-right: 5px;
      border-right: 1px solid map-get($txtcolor, 'main');
    }
    &:last-child {
      padding-left: 5px;
    }
  }
}

.language-link {
  @extend %link;
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-weight: 500;
  @include font-size(32px, 41px);

  @include link-animation(30px);

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'accent');
  }

  @include media(min, tablet) {
    display: block;
    @include font-size(18px, 23px);
    padding-top: 5px;
    padding-bottom: 5px;
    @include link-animation(25px);
  }

  @include media(min, desktop) {
    @include font-size(22px, 28px);
    @include link-animation(30px);
    transform: translateY(0);
    transition: transform $animation, color $animation 250ms;

    &:hover,
    &:focus {
      transform: translateY(-10px);
    }
  }

  &--current {
    @include media(max, tablet) {
      display: none;
    }
    @include media(min, tablet) {
      color: map-get($txtcolor, 'accent');
      &::before {
        display: none;
      }
      &:hover,
      &:focus {
        transform: translateY(0);
      }
    }
  }
}

.header-link {
  @extend %link;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  @include font-size(18px, 16px);
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'accent');
  }

  @include media(min, phone) {
    @include font-size(22px, 18px);
  }

  @include media(min, tablet) {
    display: none;
  }
}

.header-social-list {
  @extend %list;
  @include flex-l(15px);

  @include media(min, phone) {
    @include flex-l(30px);
  }

  @include media(min, tablet) {
    display: none;
  }
}

.header-social-link {
  @extend %link;
  @include socials(45px, 45px);

  @include media(min, phone) {
    @include socials(75px, 75px);
  }
}

.header-link-icon {
  width: 45px;
  height: 45px;

  @include media(min, phone) {
    width: 75px;
    height: 75px;
  }
}
