.header {
  background-color: map-get($bgcolor, 'header');
}

.header-container {
  @extend %container;
}

.nav-thumb {
  @include flex-m(space-between, center);
}

.logo-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo-img {
  display: block;
  width: 115px;
  height: 38px;

  //   width: 150px;
  //   height: 50px;
}

.menu-btn {
  @include media(max, tablet) {
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: map-get($txtcolor, 'main');
    @include animation-s(color);
  }

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'accent');
  }

  &--open {
    display: block;

    .menu.is-open & {
      display: none;
    }
  }

  &--close {
    display: none;

    .menu.is-open & {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.menu-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.mobile-thumb {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include media(max, tablet) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding: 45px;
    transform: translateX(100%);
    @include animation-s(transform);
    background-color: map-get($bgcolor, 'header');
  }

  .menu.is-open & {
    transform: translateX(0);
  }
}

.navigation-list {
  @extend %list;
  // display: flex;
  // gap: 30px;

  // margin-left: 35px;
}

.navigation-list-item {
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include media(max, desktop) {
    &--hidden {
      display: none;
    }
  }
}

.nav-link {
  @extend %link;
  position: relative;

  transition: color $animation 250ms;

  font-weight: 500;
  @include font-size(32px, 41px);

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'accent');
  }

  @include link-animation(100%, 30px);
}

// display: inline-block;
// transform: translateY(0);
//  transition: transform $animation, color $animation 250ms;

//  &:hover,
//   &:focus {
//     transform: translateY(-10px);
//   }

// padding: 26px 0;

// transition: color var(--animation-action) 250ms, transform var(--animation-action);

.language {
  @extend %list;
  overflow: hidden;
  margin-bottom: 10px;
}

.language-link {
  @extend %link;
  position: relative;
  display: inline-block;
  font-weight: 500;
  @include font-size(32px, 41px);

  @include link-animation(100%, 30px);

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'accent');
  }

  &--current {
    display: none;
  }
}

.header-link {
  @extend %link;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  @include font-size(18px, 16px);
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'accent');
  }

  @include media(min, phone) {
    @include font-size(22px, 18px);
  }
}

.header-social-list {
  @extend %list;
  @include flex-l(15px);

  @include media(min, phone) {
    @include flex-l(30px);
  }
}

.header-social-link {
  @extend %link;
  @include socials(50px, 50px);

  @include media(min, phone) {
    @include socials(75px, 75px);
  }
}

.header-link-icon {
  width: 50px;
  height: 50px;

  @include media(min, phone) {
    width: 75px;
    height: 75px;
  }
}

// .nav-thumb {
//   display: flex;
//   align-items: center;
// }

// .navigation-list-item {
//   position: relative;
//   overflow: hidden;
// }

// .header-btn-list {
//   display: flex;
//   align-items: center;
//   gap: 26px;
//   margin-left: auto;
// }
// .header-btn {
//   display: inline-block;
//   min-width: 150px;
//   padding-top: 11px;
//   padding-bottom: 11px;
//   border-radius: 6px;
//   background-color: var(--button-general);

//   font-weight: 500;
//   text-align: center;
//   letter-spacing: -0.015em;

//   transition: color var(--animation-action), background-color var(--animation-action);
// }
// .header-btn:hover,
// .header-btn:focus {
//   background-color: var(--button-accent);
//   color: var(--accent-text);
// }
