.header {
  background-color: map-get($bgcolor, 'header');
}

.header-container {
  @extend %container;
}

.nav-thumb {
  @include flex-m(space-between, center);
}

.logo-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo-img {
  display: block;
  width: 115px;
  height: 38px;

  //   width: 150px;
  //   height: 50px;
}

.menu-btn {
  @include media(max, tablet) {
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: map-get($txtcolor, 'main');
  }

  &--open {
    display: block;

    .menu.is-open & {
      display: none;
    }
  }

  &--close {
    display: none;

    .menu.is-open & {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.menu-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.mobile-thumb {
  display: block;
  @include media(max, tablet) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    padding: 45px;
    transform: translateX(100%);
    @include animation-s(transform);
    background-color: map-get($bgcolor, 'header');
  }

  .menu.is-open & {
    transform: translateX(0);
  }
}

.navigation-list {
  @extend %list;
  // display: flex;
  // gap: 30px;

  // margin-left: 35px;
}

// .nav-thumb {
//   display: flex;
//   align-items: center;
// }

// .navigation-list-item {
//   position: relative;
//   overflow: hidden;
// }
// .nav-link {
//   position: relative;
//   transform: translateY(0);

//   display: inline-block;
//   padding: 26px 0;

//   font-weight: 500;
//   line-height: 1.3;

//   transition: color var(--animation-action) 250ms, transform var(--animation-action);
// }
// .nav-link::before {
//   position: absolute;
//   top: 0;
//   right: 0;

//   transform: translateX(-110%) translateY(15px);

//   content: ' ';
//   display: block;
//   width: 100%;
//   height: 4px;
//   background-color: var(--accent-text);
// }
// @keyframes headerLinkAnimation {
//   0% {
//     transform: translateX(-110%) translateY(15px);
//   }
//   50% {
//     transform: translateX(0) translateY(15px);
//   }
//   100% {
//     transform: translateX(0) translateY(50px);
//   }
// }

// .nav-link:hover,
// .nav-link:focus {
//   color: var(--accent-text);
//   transform: translateY(-10px);
// }
// .nav-link:hover:before,
// .nav-link:focus:before {
//   animation-name: headerLinkAnimation;
//   animation-duration: 500ms;
//   animation-fill-mode: forwards;
// }

// .header-btn-list {
//   display: flex;
//   align-items: center;
//   gap: 26px;
//   margin-left: auto;
// }
// .header-btn {
//   display: inline-block;
//   min-width: 150px;
//   padding-top: 11px;
//   padding-bottom: 11px;
//   border-radius: 6px;
//   background-color: var(--button-general);

//   font-weight: 500;
//   text-align: center;
//   letter-spacing: -0.015em;

//   transition: color var(--animation-action), background-color var(--animation-action);
// }
// .header-btn:hover,
// .header-btn:focus {
//   background-color: var(--button-accent);
//   color: var(--accent-text);
// }
