.speakers {
  @extend %section;
  background-color: map-get($bgcolor, 'main');
}

.speakers-container {
  @extend %container;
}

.speakers-title {
  @extend %section-title;
  margin-bottom: 10px;

  @include media(min, tablet) {
    text-align: center;
  }
}

.speakers-text {
  margin-bottom: 30px;

  @include media(min, tablet) {
    text-align: center;
  }

  @include media(min, tablet) {
    @include font-size(22px, 30px);
  }
}

.speakers-list {
  @extend %list;
}

.speakers-item {
  position: relative;

  color: inherit;
  transform: scale(1);
  @include animation-m(transform, color);

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include media(min, desktop) {
    &:hover {
      transform: scale(1.2);
      color: map-get($txtcolor, 'link');
    }
  }
}

.speaker-name {
  margin-bottom: 5px;

  font-weight: 700;
  @include font-size(18px, 22px);
  text-transform: uppercase;
  text-align: center;

  &::before {
    display: block;
    position: absolute;
    top: -15px;
    @include pseudo(100%, 1px);
    background-color: map-get($txtcolor, 'main');
  }

  @include media(min, tablet) {
    @include font-size(22px, 30px);
    margin-bottom: 10px;
  }
}

.speaker-position {
  margin-bottom: 5px;
  @include font-size(12px, 16px);
  text-align: center;

  @include media(min, tablet) {
    @include font-size(22px, 30px);
    margin-bottom: 10px;
  }
}

.thesis-title {
  font-weight: 700;
  @include font-size(14px, 20px);
  text-align: center;

  @include media(min, tablet) {
    @include font-size(22px, 30px);
  }
}
